APP_ENV=development
APP_NAME=ByNET API

POSTGRES_USER=bynet
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=bynet

DATABASE_URL=postgresql+psycopg://bynet:CHANGE_ME@127.0.0.1:5433/bynet

ALLOWED_HOSTS=["127.0.0.1","localhost","testserver"]
